.footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  margin-top: auto;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.content {
  text-align: center;
}

.kuldevi {
  font-size: 1rem;
  color: #4caf50;
  font-family: 'Noto Sans Gujarati', sans-serif;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.copyright {
  font-size: 0.875rem;
  color: #ccc;
  font-family: 'Noto Sans Gujarati', sans-serif;
}

